<!doctype html>
<html>
<head>
<base href="/">
<meta charset="UTF-8">
<title>Untitled Document</title>

</head>
<body>
<div is="dmx-view" id="content">
  <%- await include(content, locals); %>
</div></body>
</html>
